*{
box-sizing: border-box;
margin: 0;
padding: 0;
}

.cajaVerde {
    height: 20rem;
    background-color: white;
}

.cajaroja{
    background-color: red;
    height: 20rem;
}

.cajaAzul{
    background-color: rgb(249, 262, 49);
}

.cajaMorada{
    background-color: rgb(249, 262, 49);
    height: 20rem;
}
.cajaVerdeclarita{
    background-color: green;
    height: 400px;
    padding: 100px;
}

.cajaAmarilla{
    background-color: yellow;
    padding: 0px;
}

.cajaAmarillaclarita{
    background-color: yellowgreen;
    height: 30px;
    padding: 50px;
    justify-content: end;
}

.cajadino {
    float: left;
}

.lol {
    margin: 0 auto;
    height: 100%;
    font-size: 12px;
    background-color: white
}

.lol img {
    height: 54%;
}
 .card-body{
     background-color: rgb(164 203 79);
 } 

.xdlol p {
    display: inline-block;font-size: 24px; color: black;}


